@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-primary: #1b294c;
  --color-primary-alt: #657499;
  --color-secondary: #e5ba5c;
  --color-secondary-bold: #e92629;
  
  --color-gray-lightest: #e5e5e5;
  --color-gray-light: #ced3de;
  --color-gray-dark: #434d66;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Custom slider styles */
input[type='range'].slider::-webkit-slider-thumb {
  appearance: none;
  width: 24px;
  height: 52px;
  border-radius: 4px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
  background: var(--color-secondary);
  cursor: pointer;
}

input[type='range'].slider::-moz-range-thumb {
  width: 42px;
  height: 64px;
  border-radius: 4px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
  background: var(--color-secondary);
  cursor: pointer;
  border: none;
}

