@mixin rounded-corners {
  border-radius: 6px;
}

@mixin rounded-corners-top {
  @include rounded-corners;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

@mixin rounded-corners-bottom {
  @include rounded-corners;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

@mixin border-box {
  background-color: $white;
  @include rounded-corners;
  padding: 0 10px;
  border: 1px solid $light-gray;
  margin-left: 10px;
  margin-right: 10px;
}

@mixin depth-shadow {
  box-shadow: 0px 0px 20px lighten($dark-gray, 40);
}

@mixin ease-transition {
  transition: 0.455s ease all;
}

// Media Queries
$mobile-width: 300px;
$tablet-width: 767px;
$desktop-width: 1024px;

@mixin mobile {
  @media (min-width: #{$mobile-width}) and (max-width: #{$tablet-width}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}
