$primary-color: #1b294c;
$primary-color-alt: #657499;
$secondary-color: #e5ba5c;
$secondary-color-bold: #e92629;

$black: #000000;
$white: #ffffff;

$lightest-gray: #e5e5e5;
$light-gray: #ced3de;
$dark-gray: #434d66;
