@import "variables";
@import "mixins";

html,
body {
  background-color: $lightest-gray;
  @include ease-transition;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

main {
  width: 100%;
}

.content {
  &-title {
    font-size: 3rem;
    text-align: center;
  }
}

.player {
  width: 100%;
  margin: 0 auto;
  display: flex;
  border-bottom: 2px solid $light-gray;

  @include mobile {
    flex-direction: column;
  }

  &-loading {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    color: $dark-gray;
    min-height: 125px;
  }

  .col-1 {
    width: 43%;
    @include mobile {
      width: 100%;
    }
  }

  .col-2 {
    width: 57%;
    display: flex;
    flex-direction: column;
    @include mobile {
      width: 100%;
    }
  }

  .setlist {
    @include border-box;
    flex-grow: 1;

    &-title {
      border-bottom: 1px solid $dark-gray;
      padding-bottom: 10px;
    }

    &-list {
      display: flex;
      flex-direction: column;
    }

    &-song {
      @include rounded-corners;
      padding: 10px;
      background-color: lighten($secondary-color, 15);
      margin-bottom: 5px;
      font-size: 1.3rem;

      &-title {
        font-weight: bold;
        font-size: 1.5rem;
        line-height: 2rem;
      }

      &-subtitle {
        font-weight: 200;
        font-size: 1rem;
      }

      &.selected {
        background-color: $secondary-color;
        @include depth-shadow;
      }
    }
  }

  &-buttons {
    display: flex;
  }

  .controls {
    @include border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    flex-grow: 1;

    .button {
      border-radius: 50%;
      font-size: 3rem;
      font-weight: bold;
      text-align: center;
      margin-right: 10px;
      margin-bottom: 10px;
      padding: 30px 35px;
      cursor: pointer;
      background-color: $primary-color;
      color: $white;

      &.disabled {
        background-color: $primary-color-alt;
      }
    }
  }

  &-tracks {
    @include border-box;
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &-track {
    @include ease-transition;
    border: 1px solid $dark-gray;
    color: $white;
    @include rounded-corners;
    text-align: center;
    background-color: $light-gray;
    margin: 0 5px 25px 0;
    width: 22%;
    @include depth-shadow;

    &.muted {
      box-shadow: 0px 0px 0px transparent;
      transform: scale(0.97);
    }

    &:nth-child(4) {
      margin-right: 0;
    }

    &-name {
      padding: 10px 10px;
      background-color: $primary-color-alt;
      color: $black;
    }

    &-volume {
      @include rounded-corners-top;
      display: flex;
      flex-direction: column;
      font-size: 1.8rem;
      justify-content: space-evenly;
      cursor: pointer;

      &-control {
        padding: 10px 0;
      }

      &-description {
        font-size: 1rem;
        padding: 10px 0;
      }
    }

    .mute {
      color: $black;
      @include rounded-corners-bottom;
      padding: 15px 10px;
      text-transform: uppercase;
      border-top: 1px solid $dark-gray;
      cursor: pointer;
      background-color: $light-gray;

      &.muted {
        background-color: $white;
      }
    }
  }
}
